<div class="login-page">
    <div class="login-container">
        <h2>Login</h2>
        <div class="input-group">
            <input type="email" id="email" required>
            <label for="email">Email</label>
        </div>
        <div class="input-group">
            <input type="password" id="password" required>
            <label for="password">Password</label>
        </div>
        <div class="login__wrong-password">
            <video id="terry-a-davis"></video>
        </div>
        <button type="submit" class="btn" id="login-btn">Login</button>
    </div>
</div>
