<div class="login">
    <div class="login__box">
        <div class="login__login-field">
            Логин: <input type="login">
        </div>
        <div class="login__password-field">
            Пароль: <input type="password">
        </div>
        <div class="login__wrong-password">
            <video id="terry-a-davis"> </video>
        </div>
        <button class="login__login-btn" id="login-btn">Войти</button>
    </div>
</div>
