<div class="grid">
    <div class="list">
        <ul class="dir-list" id="dirlist">

        </ul>
    </div>
    <div class="code" id="code">
        <div class="default-text">
            <-- Выберите файл
        </div>
    </div>
</div>
<div id = "create">
    <div id="cfile">Создать файл</div>
    <div id="cdir">Создать папку</div>
</div>