<span>NOTED</span>
<span class="footer-user">
        {{#if auth}}
        <img src="https://avatars.githubusercontent.com/u/90285641?v=4" class="ava-ft">
        <span class="footer-nick">domnakolesax</span>
            {{/if}}
</span>
