<span>NOTED</span>
<span class="footer-user">
            <img src="https://avatars.githubusercontent.com/u/90285641?v=4" class="ava-ft">
        <span class="footer-nick"> dnonakolesax</span>
</span>
