<div class="dos-modal cookie-modal" role="dialog" aria-modal="true" aria-labelledby="cookieTitle">
    <div class="dos-modal-header">
        <div class="dos-modal-title" id="cookieTitle">NOTED :: COOKIE NOTICE</div>
    </div>

    <div class="dos-modal-body">
        <div class="cookie-text">
            <div class="cookie-line">
                Этот сайт использует <span class="hl">куки</span> и исполняет код на <span class="hl">JavaScript</span> в вашем браузере.
            </div>
            <div class="cookie-line muted">
                Продолжая находиться на нём, вы соглашаетесь со всем вышеперечисленным и обязуетесь соблюдать <a
                    href="https://ifap.ru/as/ofisp008.htm">Нормы пользования Сетью</a>.
            </div>
        </div>

        <div class="cookie-actions">
            <button class="dos-btn" type="button" data-cookie-accept>Ясно</button>
        </div>
    </div>
</div>